<div id="dashboard">
  <chart [chartOptions]="uniqueLoginsOptions"></chart>
  <chart [chartOptions]="uniqueLoginsBySitesOptions"></chart>
  <chart [chartOptions]="uniqueLoginsOverTimeOptions"></chart>
  <chart [chartOptions]="assessmentOverTimeOptions"></chart>
  <chart [chartOptions]="assessmentOverTimeByTypeOtions"></chart>
  <chart [chartOptions]="mostAssessedStandardsOptions"></chart>
  <chart [chartOptions]="standardsOverTimeOptions"></chart>
  <chart [chartOptions]="plansRecentlyAddedStudentsOptions"></chart>
  <chart [chartOptions]="plansOverTimeOptions"></chart>
  <chart [chartOptions]="studentsExitedPlansOptions"></chart>
</div>
